/*--------------Página---------------*/
body, html{
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  background-color: rgb(245, 245, 245);
} 

/*--------------Header---------------*/
header{
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 12px 0px 3px 15vw;
  margin: 0px 0px 5px 0px;
  box-sizing: border-box;
}

header figure{
  margin: 0px;
}


main{
  display: flex column;
  max-width: 935px;
  box-sizing: border-box;
}
/*--------------Informações do perfil---------------*/
.profile-content{
  display: flex;
}

.profile-photo{
  float: left;
  margin-right: 3vw;
  padding: 0px 4vw;
}

.profile-photo figure{
  margin: 0px;
}

.profile-photo img{
  border-radius: 100%;
  border: 2px solid rgb(214, 214, 214);
  padding: 3px;
}

.profile-info{
  display: flex column;
  line-height: 25px;
}

.profile-info h1{
  font-size: 30px;
  margin: 0px;
  margin-top: 10px;
  font-weight: 1;
}

.profile-data{
  display: flex;
  margin-top: 20px;
}

.profile-data p{
  margin: 0px;
  padding-right: 25px;
}

.profile-data span{
  font-weight: bold;
}

.profile-info h2{
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  margin-top: 15px;
}

.profile-info ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.profile-info p{
  margin: 0px;
}

.profile-info a{
  text-decoration: none;
  color: #00376b;
  font-weight: bold;
}

/*---------------Stories----------------*/
.highlighted-stories{
  margin: 20px 5px;
}

.highlighted-stories ul{
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.highlighted-stories figure{
  display: flex column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  margin: 0px 35px 0px 0px;
}

.highlighted-stories img{
  max-width: 77px;
  max-height: 77px;
  border-radius: 100%;
  padding: 3px;
  border: 2px solid rgb(214, 214, 214);
  box-sizing: border-box;
}

/*--------------Posts----------------*/
.nav-pages{
  display: flex;
  justify-content: center;  
  border-top: 1px solid rgb(224, 224, 224);
}

.nav-pages a{
  padding: 20px 40px 0px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 12px;
}

.selected {
  font-weight: bold;
  border-top: 1px solid black;
  color: #000000 !important;
}

.profile-posts ul{
  columns: 3;
  display: flex column;
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px 10px;
}

.profile-posts li{
  margin: 0px;
  padding: 0px;
}

.profile-posts figure{
  margin: 0px;
  padding: 0px;
  max-width: 293px;
  max-height: 293px;
  margin-bottom: 1.3vw;
}

.profile-posts img{
  width: 100%;
}

/*--------------Rodapé---------------*/
.footer-nav a{
  text-decoration: none; 
  color: #00376b;
  font-weight: bold;
  font-size: 14px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0px;
  padding: 0px 30px;
}

footer p{
  text-transform: uppercase;
  font-size: 14px;
  color: grey;
  font-weight: bold;
  margin: 0px;
}

@media (max-width: 900px){

  body{
    font-size: 15px;
  }

  h2{
    padding-top: 18vw;
    font-size: 15px;
  }

  .profile-content h1{
    font-size: 28px;
    position: absolute;
    left: 27vw;
    margin-top: 20px;
  }

  .profile-data{
    border-top: 1px solid rgb(223, 223, 223);
    position: absolute;
    margin-top: 95%;
    line-height: 3.8vw;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vw;
  }

  .profile-data p{
    color: rgb(130, 130, 130);
    width: 13%;
  }

  .profile-data span{
    color: rgb(37, 37, 37);  
  }

  .profile-info p, a, h2{
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .profile-photo img{
    width: 100%;
  }

  .profile-photo{
    position: absolute;
    width: 17vw;
  }

  header{
    justify-content: center;
    padding: 10px 0px 5px 0px;
  }

  .highlighted-stories img{
    width: 70%;
  }

  .highlighted-stories{
    margin-bottom: 20vw;
  }

  .highlighted-stories figure{
    font-size: 12px;
    margin: 0px;
  }
  .footer-nav a{
    font-size: 10px;
  }

  .footer-nav{
    padding: 5px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    margin: 0px;
  }

  nav{
    width: 100%;
  }

  footer p{
    font-size: 10px;
    margin-bottom: 20px;
  }

  footer{
    flex-direction: column;
  }
}