body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}


#lettersDiv, #wordsDiv{
  display: flex;
  flex-wrap: wrap;
  width: 66vw;
  justify-content: space-between;
  padding: 2px;
  margin: 0px;
}

span{
  margin-right: 15px;
}

@media (max-width: 1024px){
  #textInput{
    width: 85vw;
  }
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 19px;
  }
  span{
    font-size: 16px;
  }
}

