body {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

h1, h2{
  font-family: 'Rokkitt', 'Helvetica', 'Arial', 'sans-serif';
  margin: 0px;
}

p, ul, li {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}

#contactDetails {
  float: right;
  font-size: 13px;
  
}

#contactDetails a{
  color: #444444;
  text-decoration: none;
}

#contactDetails ul{
  padding: 0px;
  margin-top: 2px;
}

.keySkills ul{
  margin-top: 50%;
  margin-bottom: 50%;
}

li{
  list-style-type: none;
}

#contactDetails li {
  padding: 1px;
}

#mainArea{
  padding-left: 40px;
  padding-right: 40px;
}

body {
	width: 90%;
	max-width: 800px;
  margin: 30px auto;
}

body{
  color: #444444;
  font-size: 16px;
}

h2{
  color: #181818;
  font: inherit;
}

#name {
  float: left;
  line-height: 1;
}

#name h1{
  color: #181818;
  margin: 0px;
}

#name h2{
  font-size: 28px;
  font-family: 'Rokkitt', 'Helvetica', 'Arial', 'sans-serif';
  margin: 0px;
}





.mainDetails{
  border-bottom: 2px solid #cf8a05;
  padding: 24px 35px;
}

.sectionTitle h1{
  color: #cf8a05;
  font: inherit;
  font-style: italic;
  font-family: 'Rokkitt', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 20px;
}

section h2{
  font-size: 20px;
  display: block;
  font-family: 'Rokkitt', 'Helvetica', 'Arial', 'sans-serif';
}

p {
	font-size: 13px;
  line-height: 1.4em;
  margin-top: 0px;
  margin-bottom: 20px;
}

.subDetails{
  margin-bottom: 3px;
  font-style: italic;
  font-size: 11px;
}

.clear {
	clear: both;
}

#headshot {
	width: 75px;
	float: left;
  margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
  border-radius: 50px; 
}

section{
  padding-top: 19px;
}

#s1, #s2, #s3{
  border-bottom: 1px solid #f3f3f3;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.keySkills {
  margin: 0px;
	column-count: 3;
	margin-bottom: 20px;
  font-size: 1em;
  padding: 0px;
}

.sectionContent {
	float: right;
	width: 72.5%;
}
