body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  display: flex;  
  flex-direction: column;
  align-items: center;
  background-color: rgb(85, 85, 85);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  min-height: 150px;
  padding: 15px;
  background-color: rgb(56, 61, 78);
  max-width: 80vw;
}

button{
  margin-top: 15px;
  width: 40%;
  background-color: rgb(43, 43, 43);
  color: #fff;
  font-weight: bold;
}

input{
  text-align: center;
  width: 70%;
  border-radius: 6px;
  font-size: 20px;
}

p{
  font-weight: bold;
}

h1{
  margin: 0px;
  margin-bottom: 3vw;
  padding: 1vw;
  width: 100vw;
  color: rgb(204, 204, 204);
  background-color: rgb(41, 41, 41);
}