@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

body {
  font-family: 'Lato'; 
  font-size: 18px;
  background-image: url(./img/map-bg.jpg);
}

#main {
  width: 900px; 
  margin: 10px auto;
}

h1{
  font-family: 'Supermercado One';
  font-size: 45px;
  color: #5d4037;
}

#menu {
  columns: 400px 2; 
  column-rule: 2px dashed rosybrown;
  column-gap: 100px;
}
section {margin-bottom: 50px;}

h2 {
  font-variant: small-caps;
  margin: 0;
  color: #6d4c41;
}

dt{
  font-weight: bold;
  font-size: 20px;
}



dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {
  order: 2; 
  padding-left: 10px;
  color: firebrick;
  font-size: large;
}

address {
  padding: 10px;
  border: dashed 3px rosybrown;
}