body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  background-color: rgb(39, 39, 39);
  color: rgb(221, 221, 221);
  font-weight: bold;
  padding: 30px;
  letter-spacing: 1px;
}

main{
  display: flex column;
  justify-content: center;
  padding: 30px;
  
}

div{
  text-align: center;
  border: 1px solid rgb(185, 185, 185);
  width: 100%;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 20px;
  background-color: rgb(71, 71, 71);
  box-sizing: border-box;
  line-height: 40px;
  overflow: hidden;
}

h1, h2{
  text-align: center;
  margin: 0px;
  font-weight: bold;
  color: rgb(162, 177, 243);
  font-size: 20px;
}