body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  background-color: rgb(39, 39, 39);
  color: rgb(224, 224, 224);
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  
}

div{
  text-align: center;
  border: 1px solid rgb(185, 185, 185);
  width: 300px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 0px;
  background-color: rgb(73, 44, 44);
  box-sizing: border-box;
}

h2{
  text-align: center;
  margin: 10px;
  padding-right: 10px;
  font-weight: 500;
}

#b1, #b2, #b3, #b4, #b5{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  padding: 0px;
  overflow: scroll;
}
