/*
Theme Name: Netflix
Author: Kenzie Academy
Author URI: kenzie.com.br;
Version: 1.0
 
--------------------------------------------
SUGESTÃO DE ESTRUTURAÇÃO BASE 
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
*/
  html{
    font-size: 16px;
  }
  
  body{
    background-color: #141414;
    color: aliceblue;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: max-content;
    }
  
  ul img{
    border-radius: 4px;
    margin: 2px;   
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
  }

  ul{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;  
  }

  li{
    margin: 0 2vw 0 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .addPerfil{
    margin: 0px;
  }

  figcaption{
    display: none;
  }

  figure{
    margin: 0px;
  }

	header.topo{
    background-image: linear-gradient(black, #141414);
    max-height: 80px;
    padding: 0 60px;
  }
  
  .topo img{
    max-width: 100px;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2{
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    margin: 0px;
    font-weight: 100;
    display: block;
  }

  h3{
    width: 100%;
    color: grey;
    margin-top: 7%;
    margin-bottom: 7%;
    font-weight: 100;
    /* font-size: 1.2rem; */
    font-size: 2.6vmin;
  }

  button{
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: .5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    vertical-align: top;
    margin-top: 20%;
    font-size: 2.1vmin;
    display: flex;
    align-items: center;
    /* font-size: 1vmin; */
  }

  button:hover{
    color: #fff;
    border-color: #fff;
  }

  footer{
    display: flex;
  }