body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #141414;
  color: #fff;
}

header.topo{
  background-image: linear-gradient(black, #141414);
}

.topo img{
  width: 120px;
  margin-left: 25px;
}

h2{
  font-weight: 500;
  font-size: 55px;
  margin: 10px;
}

ul{
  column-count: 4 ;
  width: 858px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

figure{
  margin: 0px;
}

li{
  margin: 0px;
  max-width: 186px;
  color: gray;
  
} 

li img{
  width: 100%;
  border-radius: 4px;
  
}

figcaption{
  display: none;
}

h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

button{
  width: 250px;
  height: 40px;
  margin-top: 50px;
  background-color: transparent;
  color: gray;
  text-transform: uppercase;
  border: 2px solid gray;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

section{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addPerfil img{
  width: 60%;
  margin: 20%;
}

figure{
  width: 186px;
  height: 186px;
  border-radius: 4px;
  border: 2px solid transparent;
}

@media (max-width: 1024px){
  ul{
    width: 100%;
    column-count: 2 ;
  }

  li{
    width: 100%;
  }

  h2{
    font-size: 35px;
  }

  h3{
    font-size: 22px;
  }

  button{
    margin-top: 20px;
  }

  header.topo{
    margin: 0px;
  }

  figure{
    width: 100%;
    height: 100%;
  }
}



ul figure:hover{
  border: 2px solid #fff;
  color: #fff;
}

li:hover{
  color: #fff;
}

button:hover{
  color: #fff;
  border: 2px solid #fff;
}