body, html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(19, 19, 19);
  letter-spacing: 1.5px;
}

main{
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  box-shadow:0px 0px 150px 300px black;
  background-color: #2c2c2c;
}

h1{
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  color: #fff;
}

h2{
  padding: 10px;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 28px;
}

h3{
  color: #fff;
  font-size: 20px;
  margin: 15px 15px 0px 15px;
}

#marcador{
  margin: 0px 40px 0px 40px;
  font-size: 60px;
  color: #fff;
}

#placar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#results{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#game, #placar{
  box-shadow:0px 0px 7px 2px rgb(255, 255, 255);
  border: 1px solid rgb(117, 117, 117);
  border-radius: 15px;
  background-color: #2c2c2c;
  margin: 10px;
  padding: 10px;
  width: 80%;
  height: 100%;
}

#guns{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  list-style-type: none;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

#userGun li:hover{
  border: 2px solid rgb(219, 219, 219);
  cursor: pointer;
}

li{
  background-color: rgba(0, 0, 0, 10%);
  color: rgba(255, 255, 255, 25%);
  border: 2px solid rgba(255, 255, 255, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  margin: 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}

#placar p{
  margin: 0px;
  color: rgb(241, 79, 79);
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#userGun, #computerGun{
  border: 2px solid transparent;
  border-radius: 10px;
}

#vencedor{
  font-size: 25px;
  color: rgb(86, 214, 92);
  font-weight: bold;
}

button{
  box-shadow:0px 0px 7px 2px rgb(255, 255, 255);
  border: 1px solid rgb(117, 117, 117);
  border-radius: 6px;
  background-color: #2c2c2c;
  margin: 15px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

button:hover{
  background-color: #fff;
  color: black;
}

footer{
  text-align: center;
  color: rgb(192, 192, 192);
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

@media (max-width: 800px){
  h1{
    font-size: 21px;
  }

  button{
    margin: 10px;
    padding: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  #vencedor{
    font-size: 16px;
  }

  #game{
    width: 90%;
    height: 50%;
    font-weight: bold;
  }
  p{
    margin: 0px;
    font-size: 30px;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  li{
    width: 50px;
    height: 40px;
    font-size: 10px;
    margin: 3px;
  }

  #computer, #userName{
    font-size: 16px;
    padding: 5px;
  }

  #guns{
    flex-direction: column;
  }

  #placar p{
    font-size: 18px;
  }
  
  h3{
    font-size: 14px;
  }

  h2{
    font-size: 16px;
  }

  footer p{
    text-align: center;
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
  }
}