body{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#resultados{
  max-width: 80vw;
  text-align: justify;
  overflow: scroll;
  margin: 15px;
  padding: 10px;
  line-height: 22px;
}