body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#labirinto {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    
}

.container {
    display: flex;
    justify-content: center;
}

.wall, .way, .start, .end{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wall{
    background-image: url(./img/wall.png);
    background-size: 15px;
}

.way, .start, .end{
    background-image: url(./img/stone.jpg);
    background-size: 30px;
}

.player{
    background-color:rgb(240, 221, 221);
    border-radius: 100%;
    width: 70%;
    height: 70%;
}