body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(202, 0, 0);
  background-color: rgb(37, 37, 37);
} 

h1{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 20px;
}

div{
  display: flex;
  align-items: flex-end;
  margin: 0px;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0.2vw;
}

#resultados{
  margin-top: 5vw;
}

.barra{
  display: flex;
  width: 7.5vw;
  justify-content: center;
  align-items: baseline;
  border: 2px solid transparent;
  box-shadow: 20px -10px 30px rgb(0, 0, 0);
  background-color: rgb(88, 83, 158);
  color: #fff;
  padding-top: 15px;
  border-radius: 4px;
  font-size: 14px;
}

.barra:hover{
  border:2px solid rgb(255, 255, 255);
}

.container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: rgb(223, 223, 223);
  border-radius: 4px;
}

p{
  margin-bottom: 5px;
  margin-top: 5px;
}