body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6d5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(26, 25, 25);
    letter-spacing: 0.5px;
    font-weight: 400;
    margin: 0px;
    box-sizing: border-box;
}

#container {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#tower1,
#tower2,
#tower3 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: center;
    height: 23vw;
    width: 32vw;
    margin: 0.5vw;
    border-radius: 8px;
    border-bottom: 1vw solid;
    background-image: url('../img/vertical-line.png');
    background-position: center;
    background-size: 25vw;
    background-color: #a3a3a3;
    box-shadow: 4px 1px 6px 1px rgb(92, 92, 92);
}

#shape1,
#shape2,
#shape3,
#shape4 {
    height: 5vw;
    border-radius: 30px;
    box-shadow: 2px 1px 5px 1px rgb(56, 56, 56);
}

#shape1 {
    width: 30%;
    background-image: linear-gradient(#623166, #cb8fe7, #350135);
}

#shape2 {
    width: 50%;
    background-image: linear-gradient(#cc1727, #eb7f7f, #910505);
}

#shape3 {
    width: 70%;
    background-image: linear-gradient(#82ff1c, #a8ff8e, #178a00);
}

#shape4 {
    width: 90%;
    background-image: linear-gradient(#313b66, #9c8fe7, #010935);
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 75%;
    font-size: 14px;
    margin: 0px;
}

header {
    text-align: center;
    padding: 15px;
    width: 97.9vw;
    background-image: linear-gradient(#1f1f1f, #5c5c5c);
}

h1 {
    font-size: 22px;
    margin: 0px;
    color: #fff;
}

h2 {
    margin: 5px;
    font-size: 18px;
}

button {
    margin-bottom: 6vw;
    margin-top: 4vw;
    color: #fff;
    background-color: rgb(43, 43, 43);
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px;
}

button:hover {
    background-color: #fff;
    color: black;
}

p {
    margin: 5px;
}

li {
    margin-bottom: 8px;
}

#status {
    margin-top: 20px;
}

#s1,
#s2,
#s3 {
    width: 31vw;
    height: 4vw;
}

footer {
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 1.5vw;
    font-style: italic;
    color: #535353;
    font-size: 14px;
    width: 100vw;
}

@media (min-width: 800px) {
    #instructions {
        font-size: 18px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
        margin-top: 20px;
    }
    #tower1,
    #tower2,
    #tower3 {
        width: 25vw;
        height: 16vw;
    }
    #shape1,
    #shape2,
    #shape3,
    #shape4 {
        height: 3.5vw;
    }
    #status {
        margin: 5px;
    }
    button {
        margin: 1.5vw;
    }
    #container {
        margin: 1vw;
    }
}