body{
  background-color: rgb(134, 57, 57);
  font-family: Arial, Helvetica, sans-serif;
}

footer{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  padding: 5px;
}

h1{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
}
h3{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
#img{
  box-sizing: border-box;
  text-align: center;
  float: ;
}

#formacao, #hobbie, #objetivo, #sites {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px; 
  background-color: rgb(34, 34, 34); 
  border-radius: 8px;
  font-size: 20px;
  color: rgb(207, 207, 207);
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  
}
a:link{
  text-decoration: none;
  color: rgb(73, 73, 216);
}
a:visited{
  color: red;
}