body{
    display: flex column;
    margin: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 50px;
}
img{
    margin: 12px;
    width: 100px;
}